/* .cuadrito es el estilo de los cuadritos que estan en el tablero */
    .cuadrito{
        width:70px;
        height:70px;
        border:solid 4px;
        float:left;
        font-size:25px;
        text-align:center;
    }
    /* es para darle el estilo  de  tablero */
    #div_contenedor{
        width:260px;
        border:solid 0px;
        margin:auto;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        text-align: center;
      
    }